@model IEnumerable<AspNetMvc_5.BILLS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FILENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_DOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_PAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_ADD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRAGENTS.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERIODS.SETTLEMENTPERIOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPESOFDOC.TYPEOFDOC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FILENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_DOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_PAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_ADD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRAGENTS.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERIODS.SETTLEMENTPERIOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPESOFDOC.TYPEOFDOC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NUMERO }) |
            @Html.ActionLink("Details", "Details", new { id=item.NUMERO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NUMERO })
        </td>
    </tr>
}

</table>
